$main-title-color:#292927;
$text-title-color:#b34249;
$content-text-color:#373737;
$footer-background-color:#fcea2e;
$red-line-color:#cf2836;
$orange-line-color:#e79720;
$blue-line-color:#3599cd;

@mixin paint-line($height,$pixels,$background-color) {
  width:100%;
  height:$height;
  border-bottom: $background-color solid $pixels;
}

@mixin logo($width,$marginLeft) {
  width:$width;
  margin-left: $marginLeft;
}

@mixin position($type,$top,$left){
  position: $type;
  top: $top;
  left:$left;
}

@mixin front-image{
    background-image: url(../img/heading-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin logo-position{
  z-index:999;
  position: absolute;
  top:0;
}

html{
  height:100%;
  width:100%;
}
body{
  margin:0;
  height:100%;
  width:100%;
}

.logo-container{
  .blue-line{
    @include paint-line(5px,3px,$blue-line-color);
    @include position(relative,0,0);
  }
  .red-line{
    @include paint-line(30px,4px,$red-line-color);
    @include position(relative,0,0);
  }
  .orange-line{
    @include paint-line(7px,3px,$orange-line-color);
    @include position(relative,0,0);
  }
}




@media (max-width: 480px){
  .logo-container{
    position: relative;
    margin-top: 50px;
  }
  .header-logo{
    @include logo(255px,37px);
    @include logo-position;
  }
  .front-image{
    @include front-image;
    height:230px;
  }
  .carousel-text-container{
    position: absolute;
    height:50px;
    background-color:$footer-background-color;
    width:100%;
    top:300px;
  }
  .carousel-title{
    font-family: "Pacifico";
    color: rgb(45, 45, 45);
    line-height: 2.082;
    text-shadow: 0px 0px 14.56px rgba(255, 255, 255, 0.004);
    -moz-transform: matrix( 0.94064373932765,0,0,0.91627672955975,0,0);
    -webkit-transform: matrix( 0.94064373932765,0,0,0.91627672955975,0,0);
    -ms-transform: matrix( 0.94064373932765,0,0,0.91627672955975,0,0);
    text-align: center;
    //font
  }
  .mobile-show{
    display: block;
  }
  .mobile-hidden{
    display: none;
  }
  .summer-wave{
    position: absolute;
    z-index: 76;
    width: 100%;
    height: 25px;
    top: 277px;
  }
}



@media (min-width: 481px) and (max-width: 960px){
  .logo-container{
    position: relative;
    margin-top: 35px;
  }
  .header-logo{
    @include logo(239px,43px);
    @include logo-position;
  }
  .front-image{
    @include front-image;
    height:344px;
  }
  .carousel-text-container{
    position: absolute;
    height:50px;
    top: 198.912px;
    z-index: 47;
    left:50px;

  }
  .carousel-title{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 50px;
    font-family: "Pacifico";
    color: rgb(45, 45, 45);
    line-height: 1.24;
    text-shadow: 0px 0px 5.64px rgba(255, 255, 255, 0.7);
    width:300px;
  }
  .summer-wave{
    position: absolute;
    z-index: 76;
    width: 100%;
    height: 74px;
    top: 413px;
  }
}




@media (min-width: 961px){
  .header-logo{
    @include logo(239px,41px);
    @include logo-position;
  }
  .front-image{
    @include front-image;
    height:600px;
  }
}

@media (min-width: 461px){
  .mobile-show{
    display: none;
  }
  .mobile-hidden{
    display: block;
  }
}




