html {
  height: 100%;
  width: 100%; }

body {
  margin: 0;
  height: 100%;
  width: 100%; }

.logo-container .blue-line {
  width: 100%;
  height: 5px;
  border-bottom: #3599cd solid 3px;
  position: relative;
  top: 0;
  left: 0; }
.logo-container .red-line {
  width: 100%;
  height: 30px;
  border-bottom: #cf2836 solid 4px;
  position: relative;
  top: 0;
  left: 0; }
.logo-container .orange-line {
  width: 100%;
  height: 7px;
  border-bottom: #e79720 solid 3px;
  position: relative;
  top: 0;
  left: 0; }

@media (max-width: 460px) {
  .logo-container {
    position: relative;
    margin-top: 50px; }

  .header-logo {
    width: 255px;
    margin-left: 37px;
    z-index: 999;
    position: absolute;
    top: 0; }

  .front-image {
    background-image: url(../img/heading-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 230px; }

  .carousel-text-container {
    position: absolute;
    height: 50px;
    background-color: #fcea2e;
    width: 100%;
    top: 300px; }

  .carousel-title {
    font-family: "Pacifico";
    font-size: 23px;
    color: #2d2d2d;
    line-height: 2.082;
    text-shadow: 0px 0px 14.56px rgba(255, 255, 255, 0.004);
    -moz-transform: matrix(0.94064, 0, 0, 0.91628, 0, 0);
    -webkit-transform: matrix(0.94064, 0, 0, 0.91628, 0, 0);
    -ms-transform: matrix(0.94064, 0, 0, 0.91628, 0, 0);
    text-align: center; }

  .mobile-show {
    display: block; }

  .mobile-hidden {
    display: none; }

  .desktop-show {
    display: none; }

  .summer-wave {
    position: absolute;
    z-index: 76;
    width: 100%;
    height: 25px;
    top: 277px; } }
@media (min-width: 461px) and (max-width: 960px) {
  .header-logo {
    width: 239px;
    margin-left: 43px;
    z-index: 999;
    position: absolute;
    top: 0; }

  .front-image {
    background-image: url(../img/heading-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 344px; }

  .carousel-text-container {
    position: absolute;
    height: 50px;
    top: 198.912px;
    z-index: 47;
    left: 50px; }

  .carousel-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 50px;
    font-family: "Pacifico";
    color: #2d2d2d;
    line-height: 1.24;
    text-shadow: 0px 0px 5.64px rgba(255, 255, 255, 0.7);
    width: 300px; }

  .desktop-show {
    display: none; }

  .summer-wave {
    position: absolute;
    z-index: 76;
    width: 100%;
    height: 74px;
    top: 413px; } }
@media (min-width: 961px) {
  .front-image {
    background-image: url(../img/heading-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 416px; }

  .desktop-show {
    display: block; }

  .carousel-text-container {
    position: absolute;
    height: 50px;
    top: 198.912px;
    z-index: 47;
    left: 150px; }

  .carousel-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 50px;
    font-family: "Pacifico";
    color: #2d2d2d;
    line-height: 1.24;
    text-shadow: 0px 0px 5.64px rgba(255, 255, 255, 0.7);
    width: 300px; }

  .header-logo {
    width: 239px;
    margin-left: 41px;
    z-index: 999;
    position: absolute;
    top: 0; }

  .header-icons {
    position: relative;
    top: -65px;
    float: right; }

  .sunweb-trusted-logo {
    width: 35px;
    margin-right: 10px; }

  .header-text {
    position: absolute;
    left: 294px;
    color: #b34249;
    font-family: "Ford'sFolly";
    line-height: 0.833; }

  .summer-wave {
    position: absolute;
    z-index: 76;
    width: 90%;
    height: 74px;
    top: 463px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; }

  .page-content {
    width: 90%;
    margin-left: 5%; } }
@media (min-width: 461px) {
  .logo-container {
    position: relative;
    margin-top: 35px; }

  .mobile-show {
    display: none; }

  .mobile-hidden {
    display: block; } }
.white-gradient-overlay {
  background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.74902) 100%);
  background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.74902) 100%);
  background-image: -ms-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.74902) 100%);
  position: absolute;
  top: 52px;
  width: 100%;
  height: 122px;
  z-index: 17; }

@media (min-width: 961px) and (max-width: 1200px) {
  .header-text {
    font-size: 15px;
    top: 10px; } }
@media (min-width: 1201px) {
  .header-text {
    font-size: 24px;
    top: 5px; } }

/*# sourceMappingURL=layout.css.map */
