html {
  height: 100%;
  width: 100%;
  background-color: #EEEEEE; }

body {
  margin: 0;
  height: 100%;
  width: 100%; }

button:focus {
  outline: 0; }

.logo-container .blue-line {
  width: 100%;
  height: 5px;
  border-bottom: #3599cd solid 3px;
  position: relative;
  top: 0;
  left: 0; }
.logo-container .red-line {
  width: 100%;
  height: 30px;
  border-bottom: #cf2836 solid 4px;
  position: relative;
  top: 0;
  left: 0; }
.logo-container .orange-line {
  width: 100%;
  height: 7px;
  border-bottom: #e79720 solid 3px;
  position: relative;
  top: 0;
  left: 0; }

footer {
  overflow: hidden;
  font-family: "Sansa Pro";
  line-height: 1.167;
  font-size: 12px;
  color: #2d2d2d; }

.footer-items {
  list-style-type: none;
  padding-left: 0; }

.footer-items li {
  font-size: 15px;
  margin-bottom: 10px;
  text-align: center; }

.page-content {
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important; }

.subtitle {
  color: #ED1C2E;
  padding-left: 5%;
  padding-right: 5%; }

.text-container {
  margin-top: 90px;
  text-align: center;
  font-family: "Sansa Pro"; }

.text-container .title {
  font-weight: 600;
  font-size: 25px; }

.text-container h3 {
  font-weight: bold; }

.text-container div {
  line-height: 2;
  font-size: 12px;
  margin-top: 35px; }

.rounded-button {
  border-radius: 8px;
  background-color: #ed1c2e;
  width: 190px;
  height: 35px;
  z-index: 20;
  margin-top: 50px;
  border: none;
  cursor: pointer;
  color: white;
  font-family: "Sansa Pro";
  font-weight: 600; }

.rounded-button:active {
  background-color: #d11b2b;
  border: none; }

.footer-content {
  background-color: #fcea2e;
  height: 100%;
  position: relative; }

@media (max-width: 460px) {
  .footer-content {
    top: -23px; }

  .page-content {
    padding-top: 50px;
    margin-bottom: 69px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }

  .logo-container {
    position: relative; }

  .text-container {
    margin-top: 50px;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 0.923; }

  .header-logo {
    width: 255px;
    margin-left: 37px;
    z-index: 999;
    position: absolute;
    top: 0; }

  .footer-logo {
    position: relative;
    width: 170px;
    margin-left: 54px;
    z-index: 999; }

  footer {
    height: 343px; }

  footer .summer-wave {
    position: relative;
    top: -19px;
    width: 1000px;
    left: -300px;
    z-index: 0; }

  .footer-title {
    color: #ED1C2E;
    font-size: 15px;
    font-weight: bold;
    font-family: "Fords Folly";
    line-height: 1.5;
    width: 70%;
    text-align: center;
    padding-left: 15%;
    padding-right: 15%; }

  .footer-items {
    margin-top: 40px; }

  .front-image {
    background-image: url(../img/heading-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 230px; }

  .carousel-text-container {
    position: absolute;
    height: 50px;
    background-color: #fcea2e;
    width: 100%;
    top: 300px; }

  .carousel-title {
    font-family: "Pacifico";
    font-size: 23px;
    color: #2d2d2d;
    line-height: 2.082;
    text-shadow: 0px 0px 14.56px rgba(255, 255, 255, 0.004);
    -moz-transform: matrix(0.94064, 0, 0, 0.91628, 0, 0);
    -webkit-transform: matrix(0.94064, 0, 0, 0.91628, 0, 0);
    -ms-transform: matrix(0.94064, 0, 0, 0.91628, 0, 0);
    text-align: center; }

  .mobile-show {
    display: block; }

  .mobile-hidden {
    display: none; }

  .desktop-show {
    display: none; }

  .summer-wave {
    position: absolute;
    z-index: 76;
    width: 100%;
    height: 25px;
    top: 277px; }

  .text-container div {
    padding-bottom: 125px; }

  .rounded-button {
    display: none; } }
@media (min-width: 461px) and (max-width: 960px) {
  .page-content {
    margin-bottom: 75px; }

  .header-logo {
    width: 239px;
    margin-left: 43px;
    z-index: 999;
    position: absolute;
    top: 0; }

  .front-image {
    background-image: url(../img/heading-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 344px; }

  .carousel-text-container {
    position: absolute;
    height: 50px;
    top: 198.912px;
    z-index: 47;
    left: 50px; }

  .carousel-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 50px;
    font-family: "Pacifico";
    color: #2d2d2d;
    line-height: 1.24;
    text-shadow: 0px 0px 5.64px rgba(255, 255, 255, 0.7);
    width: 300px; }

  .desktop-show {
    display: none; }

  .text-container div, .text-container h3 {
    padding-left: 67px;
    padding-right: 67px; }

  .summer-wave {
    position: absolute;
    z-index: 76;
    width: 100%;
    height: 74px;
    top: 413px; }

  .rounded-button {
    display: inline-block;
    margin-bottom: 37px; }

  .footer-content {
    top: -44px; }

  .footer-logo {
    position: relative;
    width: 170px;
    margin-left: 20px;
    z-index: 999; }

  footer {
    height: 535px; }

  footer .summer-wave {
    position: relative;
    top: -40px;
    width: 1800px;
    left: -480px;
    z-index: 0; }

  .footer-title {
    color: #ED1C2E;
    font-size: 15px;
    font-weight: bold;
    font-family: "Fords Folly";
    line-height: 1.5;
    position: relative;
    top: -80px;
    left: 80px;
    text-align: center; }

  .footer-items {
    margin-top: 0;
    width: 15%;
    padding-left: 5%;
    float: left; }

  .footer-items li {
    text-align: left; }

  .footer-element {
    width: 220px;
    float: left; }

  .footer-element:nth-child(1) h5, .footer-element:nth-child(2) h5 {
    margin-top: 0; }

  .empty-footer-element {
    width: 220px;
    float: left;
    height: 163.5px; }

  .footer-elements {
    float: left;
    width: 550px;
    margin-left: 5%; }

  .footer-element ul {
    list-style-type: none;
    padding-left: 0; }

  .footer-element:last-child h5 {
    margin-bottom: 5px; }

  .footer-element:last-child {
    width: 300px;
    position: relative;
    top: -5px; }

  .footer-element ul li {
    margin-bottom: 5px; } }
@media (min-width: 961px) {
  .page-content {
    margin-bottom: 118px; }

  .text-container div {
    padding-left: 20%;
    padding-right: 20%; }

  .front-image {
    background-image: url(../img/heading-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 416px; }

  .desktop-show {
    display: block; }

  .carousel-text-container {
    position: absolute;
    height: 50px;
    top: 198.912px;
    z-index: 47;
    left: 150px; }

  .carousel-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 50px;
    font-family: "Pacifico";
    color: #2d2d2d;
    line-height: 1.24;
    text-shadow: 0px 0px 5.64px rgba(255, 255, 255, 0.7);
    width: 300px; }

  .header-logo {
    width: 239px;
    margin-left: 41px;
    z-index: 999;
    position: absolute;
    top: 0; }

  .header-icons {
    position: relative;
    top: -65px;
    float: right; }

  .header-icons img {
    width: 35px;
    margin-right: 10px; }

  .header-text {
    position: absolute;
    left: 294px;
    color: #ED1C2E;
    font-family: "Fords Folly";
    line-height: 0.833; }

  .summer-wave {
    position: absolute;
    z-index: 76;
    width: 90%;
    height: 74px;
    top: 463px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; }

  .page-content {
    width: 90%;
    margin-left: 5%; }

  .rounded-button {
    display: inline-block;
    margin-bottom: 67px; }

  .footer-content {
    top: -44px; }

  .footer-logo {
    position: relative;
    width: 170px;
    margin-left: 19%;
    z-index: 999; }

  footer {
    height: 535px; }

  footer .summer-wave {
    position: relative;
    top: -40px;
    width: 120%;
    z-index: 0; }

  .footer-title {
    color: #ED1C2E;
    font-size: 20px;
    font-weight: bold;
    font-family: "Fords Folly";
    line-height: 1.5;
    position: relative;
    top: -80px;
    left: 300px;
    text-align: left; }

  .footer-items {
    margin-top: 0;
    width: 15%;
    padding-left: 5%;
    float: left; }

  .footer-items li {
    text-align: left; }

  .footer-element {
    width: 220px;
    float: left; }

  .footer-element:nth-child(1) h5, .footer-element:nth-child(2) h5, .footer-element:nth-child(3) h5 {
    margin-top: 0; }

  .empty-footer-element {
    width: 0; }

  .footer-elements {
    float: left;
    width: 670px;
    margin-left: 5%; }

  .footer-element ul {
    list-style-type: none;
    padding-left: 0; }

  .footer-element:last-child h5 {
    margin-bottom: 5px; }

  .footer-element:last-child {
    width: 300px;
    position: relative;
    top: -5px; }

  .footer-element ul li {
    margin-bottom: 5px; }

  .footer-content {
    padding-left: 15%; } }
@media (min-width: 461px) {
  .page-content {
    padding-top: 35px; }

  .logo-container {
    position: relative; }

  .mobile-show {
    display: none; }

  .mobile-hidden {
    display: block; }

  .text-container {
    margin-top: 90px; } }
.white-gradient-overlay {
  background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.74902) 100%);
  background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.74902) 100%);
  background-image: -ms-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.74902) 100%);
  position: absolute;
  top: 52px;
  width: 100%;
  height: 122px;
  z-index: 17; }

@media (min-width: 961px) and (max-width: 1200px) {
  .header-text {
    font-size: 15px;
    top: 10px; } }
@media (min-width: 1201px) {
  .header-text {
    font-size: 24px;
    top: 5px; } }
@media (min-width: 461px) and (max-width: 760px) {
  footer {
    height: 700px; }

  .footer-items {
    width: 100%; } }

/*# sourceMappingURL=layout.css.map */
